.footer
    span by
    a(href="https://www.twesix.cn")  twesix
    .by_farbox
        span with my missing to bynbyn

script(src=src="https://api.twesix.cn/email-to-me/sdk/site_visit.js", id="email_to_me", data-name="site_visit")